<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCM7A5VZSF6to3p5JlPSSnCH6uLxyr2uMY</string>
	<key>GCM_SENDER_ID</key>
	<string>147206662351</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.duttaTech.menuPanda</string>
	<key>PROJECT_ID</key>
	<string>menupanda-70f2c</string>
	<key>STORAGE_BUCKET</key>
	<string>menupanda-70f2c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:147206662351:ios:f5ff6e6beaa1dc01d26fba</string>
</dict>
</plist>